/*=================== DEFAULT =====================*/
* {
	box-sizing: border-box;;
}

.container {
	padding: 0 5%;
	max-width: 1200px;
	margin: 2% auto;
}

hr {
	margin: 2% 0;
}

h1,
h2,
h3,
p {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 3em;
}

/*=================== HEADER =====================*/
.header {
	display: flex;
	height: 10vh;
}

.header__logo {
	width: 25%;
}

.name,
.profession {
	width: 100%;
	text-align: right;
	margin: 0;
}

.profession {
	font-size: 1.5em;
}

.header__description {
	width: 75%;
	margin: auto 0;
	padding-right: 2%;
}

/*=================== MAIN PICTURE =====================*/
.main_picture img {
	width: 100%;
	height: 80vh;
}

/*=================== PROJECTS =====================*/
.projects {
	width: 100%;
	margin-top: 4%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.projects__header {
	width: 100%;
}

.project1,
.project2,
.project3 {
	width: 30%;
	text-align: center; //center the links under the projects
}

.projects__images {
	width: 100%;
}

.project1__title,
.project2__title,
.project3__title {
	text-align: center;
}

.projects__links {
	text-decoration: none;
	color: #7d97ad;
}

/*=================== FOOTER =====================*/
.footer {
	margin-top: 6%;
	text-align: center;
}

.footer__social-btn {
	color: black;
	margin: 0 1%;
}
